<h1>にせほボタンを始める</h1>
<br>
<p>
にせほボタンを使うには、TwitterでOAuth認証せねばなりません。こちらのボタンを押して、サインインしてください。
認証は、あとで  <%= link_to 'Twitterのアプリケーション認証設定ページ', 'https://twitter.com/settings/applications', :target => '_blank' %>からいつでも取り消せます。
</p>
<p>
あなたのアカウントが他ユーザーの影響により、勝手にツイートしてしまう不具合があります。にせほボタンを使用したあとは、すぐにOAuth認証を解除することをおすすめします。にせほボタンとあなたのTwitterアカウントのOAuth認証を解除したくなったときは、
<%= link_to 'Twitterのアプリケーション認証設定ページ', 'https://twitter.com/settings/applications', :target => '_blank' %>で、にせほボタンの認証を解除してください。
</p>
<p>
一度認証したあとは、このボタンを押せば、Twitterの認証ページではなく、にせほボタンのページにすぐ移動します。
</p>
<p>
  にせほボタンを利用したことによりあなたは損害・不利益を被る可能性がありますが、その責任を<%= link_to '@katryo', 'https://twitter.com/#!/katryo', :target => '_blank' %>は一切負いません。このことを了承できない場合は、にせほボタンを使用しないでください。
  </p>

<br><%= link_to 'にせほボタンを始める', "/auth/twitter", :class => 'btn btn-large' %>


